.social-link-icons-wrapper {
  a.social-link {
    font-size: 30px;
    color: white;
  }
  .social-link-icon {
    height: 30px;
    width: 40px;
  }
  .social-link-icon:hover {
    height: 40px;
    width: 40px;
  }
}
